{# Footer with static links to published pages and copyright #}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer__inner">
      <div class="kb-footer-links">
        <a href="{{ base_url }}/legal/license/">License</a>
        &nbsp;•&nbsp;
        <a href="{{ base_url }}/legal/security/">Security</a>
        &nbsp;•&nbsp;
        <a href="{{ base_url }}/legal/privacy/">Privacy</a>
      </div>
      <div class="kb-footer-copy">
        © International Data Spaces Association. {{ config.site_name }} {{ now().year }}. All rights reserved.
      </div>
    </div>
  </div>
</footer>